#p-name,#p-main{
	text-align:center;
	color:red;
}
section{
	width:100%;
}
.content .content_2 #foto{ 
	width: 100%;
}
.content .content_2 img{
	width:90%;
}	

.img {
	width: 95%;
}
.img1, .img2, .img3, .img4, .img5, .img6 {
	width: 95%;
}
@media screen and (min-width:900px){
	body{
		width:900px;
		margin-left:auto;
		margin-right:auto;
		padding:0px;
	}
	header,section,footer{
		justify-content:center;
	}
	#p-name{
		float:left;
	}
	#p-main{
		float:right;
	}
	#titulo{
		text-align:left;
	}
	
	.content-{
		text-align:center;
	}
	.content- .img{
		width:31%;
		margin: 0.5%;
	}
	img{
		width:90%;
	}
	
	.content_2{
		display:flex;
	}
	.content .content_2 #foto{ 
		flex:1 2 50%;
	}
	.content .content_2 img{
		width:70%;
	}
	
	footer{
		border-radius:0px 0px 10px 10px ;
		background-color:#C6d5c5;
	}
	.footer{
		vertical-align:top;
	}
	.column{
		width:25%;
		float: left;
	}
	#title{
		font-size:18px;
	}
	
}